.leader {
  color: $veryDarkGrey;
  text-align: center;

  @include breakpoint-up(large) {
    display: flex;
    text-align: left;
    align-items: flex-end;

    div {
      height: 60%;

      background-color: $white;
      padding-top: 60px;
      padding-left: 80px;

      transform: translateX(-120px);

      p {
        width: 100%;
        line-height: 1.3;
        font-size: 0.8rem;
      }
    }
  }

  img {
    width: 100%;
    margin-bottom: 2.5rem;

    @include breakpoint-up(large) {
      width: 60%;
      margin-bottom: 0;
    }
  }

  p {
    font-family: "Alata", sans-serif;
    line-height: 1.6;
    width: 90%;
    margin: 0 auto;
  }
}
